body{
    text-align: center;
    font-family: 'Ubuntu';
    font-size: 16px;
    color: darkslategrey;
    margin: 0;
    padding: 0;
}

#cabecera{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background: darkolivegreen;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#cabecera #tagline{
    padding: 1em 0 0 0;
    font-weight: normal;
    font-size: 0.8em;
}

#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid dimgrey;
    margin: 0 auto;
}

#container h1{
    font-size: 18px;
}

p{
    color: chocolate;
    font-family: 'Ubuntu';
}

#footer{
    font-size: 12px;
    background: darkseagreen;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}